.container {
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.form #city-search-form {
  text-align: center;
  padding-top: 40px;
  max-width: 100%;
}

.form #city-input {
  width: 50%;
}

.search-result {
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 60px;
  text-align: center;
}

.wrapped-row {
  padding: 30px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

#city-current-temperature {
  text-align: center;
  font-size: 45px;
}

#maximum {
  text-align: center;
  font-size: 20px;
}

#minimum {
  text-align: center;
  font-size: 20px;
}

#description {
  font-size: 20px;
}

#forecast {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.page-footer {
  text-align: center;
  padding-bottom: 30px;
}

.bg-clear-sky {
  background-image: url("/images/clear-sky.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.bg-clouds {
  background-image: url("/images/clouds.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.bg-rain {
  background-image: url("/images/rain.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.bg-snow {
  background-image: url("/images/snow.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.bg-thunderstorm {
  background-image: url("/images/thunderstorm.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.bg-mist {
  background-image: url("/images/mist.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.bg-default {
  background-image: url("/images/default.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
